[package]
name = "rsproxy"
version = "0.1.14"
edition = "2021"

[lib]
crate-type = ["dylib", "lib"]

[dependencies]
clap = { version = "3.0.7", features = ["derive"] }
tokio = { version = "1.16", features = ["full"] }
pretty_env_logger = "0.4.0"
log = "0.4.14"
chrono = "0.4.19"
anyhow = "1.0.44"
futures-util = "0.3.17"
pin-utils = "0.1.0"
byte-pool = "0.2.3"
num_cpus = "1.13.1"
url = "2.2.2"
regex = "1.5"
notify = "5.0"
rs-utilities = "0.3"
# rs-utilities = { path = "../rs-utilities" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[target.aarch64-linux-android.dependencies]
jni = "0.19"
android_logger = "0.10"

[target.armv7-linux-androideabi.dependencies]
jni = "0.19"
android_logger = "0.10"


######### build shared lib for android ###########
# cargo build --target=aarch64-linux-android --release --lib

[profile.release]
opt-level = "z"
strip = true
panic = "abort"
lto = "fat"
